

body{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.intro{
    width: 100vw;
    height: 100vh;
    background-image: url(img/welcoming.png);
    background-size: cover;
    color: yellow;
    font-family: 'Press Start 2P', cursive;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &__text{
        width: 60%;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;

        @media screen and (max-width:600px) {
            width: 60%;
            font-size: 15px;
        }
    
        @media screen and (max-width:500px) {
            width: 60%;
        }

        @media screen and (max-width:400px) {
            width: 60%;
            font-size: 12px;
        }
    
        @media screen and (max-width:830px) and (orientation:landscape) {
            width: 60%;
            font-size: 12px;
        }
    
        @media screen and (max-width:650px) and (orientation:landscape) {
            width: 40px;
            font-size: 20px;
        }
    }

    &__btn,
    &__btn:link,
    &__btn:active{
        margin: 10vh;
        margin-top: 5vh;
        padding: 15px;
        width: 15%;
        min-width: 50px;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        background-color: yellow;
        text-align: center;

        @media screen and (max-width:1100px) {
            width: 20%;
        }
    
        @media screen and (max-width:600px) {
            width: 25%;
        }
    
        @media screen and (max-width:500px) {
            width: 30%;
        }

        @media screen and (max-width:400px) {
            width: 45%;
        }
    
        @media screen and (max-width:830px) and (orientation:landscape) {
            width: 30%;
            font-size: 12px;
        }
    
        @media screen and (max-width:650px) and (orientation:landscape) {
            width: 40px;
            height: 58px;
        }
    
    }
}


.game{
    height: 100vh;
    width: 100vw;
    background-image: url(img/grey_wpp.jpg);
    background-blend-mode: lighten;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.player{
    display: flex;
    height: 40vh;

    &__deck{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &--2{
            order: 3;
        }
    }

    &__hand{
        flex: 3;
        display: flex;
        flex-direction: column;

        &__army{
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &--2{
                order: 1;
            }
        }

        &__sorcery{
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            

            &--2{
                order: 2;
            }

            @media screen and (max-width:400px) {
                flex-wrap: wrap;
            }
        }

        &--2{
            order: 2;
        }
    }

    &__status{
        flex: 1;
        display: flex;
        flex-direction: column;

        &__profile{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &--1{
                margin-top: 15%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            &--2{
                margin-bottom: 15%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }

        &__life{
            width: 100%;
            height: 100%;
            margin-top: 5px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        &--2{
            order: 1;
        }
    }

    &__name{
        margin-top: 5px;
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        text-align: center;

        @media screen and (max-width:1100px) {
            font-size: 11px;
        }
    
        @media screen and (max-width:800px) {
            font-size: 10px;
        }
    
        @media screen and (max-width:650px) {
            font-size: 9px;
        }
    
        @media screen and (max-width:600px) {
            font-size: 8px;
        }
            
    }
}


.card{
    width: 100px;
    height: 140px;
    margin: 5px;
    background-color: white;
    border-radius: 3px;
    border: 3px solid #2c2d2d;
    box-shadow: 0 5px 5px rgba(black,.1);
    outline-offset: 3px;
    transition: all .2s;
    overflow: hidden;
    

    @media screen and (max-width:1100px) {
        width: 90px;
        height: 126px;
    }

    @media screen and (max-width:800px) {
        width: 80px;
        height: 112px;
    }

    @media screen and (max-width:650px) {
        width: 70px;
        height: 100px;
        border: 2px solid #2c2d2d;
    }

    @media screen and (max-width:600px) {
        width: 60px;
        height: 86px;
    }

    @media screen and (max-width:500px) {
        width: 50px;
        height: 72px;
    }

    @media screen and (max-width:830px) and (orientation:landscape) {
        width: 50px;
        height: 72px;
        border: 2px solid #2c2d2d;

        &:hover{
            outline: 2px solid #343535;
        }
    }

    @media screen and (max-width:650px) and (orientation:landscape) {
        width: 40px;
        height: 58px;
    }


    &__deck{
        background-image: url(img/card.jpg);
        background-size: cover;
        
    }

    &__magic{
        display: flex;
        flex-direction: column;
        background-color: #344666;
        color: lightgray;

        @media screen and (max-width:800px) {
            font-size: 6px;
        }
    
        @media screen and (max-width:500px) {
            font-size: 6px;
        }

        @media screen and (max-width:830px) and (orientation:landscape) {
            font-size: 5px;
        }
    
        @media screen and (max-width:650px) and (orientation:landscape) {
            font-size: 5px;
        }

        &__name{
            flex:1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 7px;
            font-weight: 600;
        }

        &__effect{
            flex: 2;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-size: 7px;
        }

    }

    &__soldier{
        font-size: 7px;
        justify-content: space-between;
        background-color:#c44e36;
        z-index: 5;
    
        @media screen and (max-width:800px) {
            font-size: 7px;
        }
    
        @media screen and (max-width:650px) {
            font-size: 7px;
        }
    
        @media screen and (max-width:600px) {
            font-size: 6px;
        }
    
        @media screen and (max-width:500px) {
            font-size: 4px;
        }

        @media screen and (max-width:830px) and (orientation:landscape) {
            font-size: 4px;
        }
    
        @media screen and (max-width:650px) and (orientation:landscape) {
            font-size: 4px;
        }

        &__photo{
            height: 60%;
            padding: 2px;
            border-radius: 3px;

            img{
                width: 100%;
                height: 100%;
            }
        }

        &__data{
            display: flex;
            flex-wrap: wrap;
        }

        &__name{
            text-transform: uppercase;
            text-align: center;
            flex-basis: 100%;
            font-weight: 700;
        }

        &__atr{
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 1px;


            li{
                list-style: none;
                flex-basis: 45%;
                background-color: #e09f91;
                border-radius: 2px;
                margin: 1px;
                padding-left: 1px;
                padding-right: 2px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

            }

        }

    }

    &:hover{
        transform: translateY(-5px) scale(1.5);
        z-index: 10;
        outline: 3px solid #343535;
    }

  
}

.profile-img{
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 100%;

    @media screen and (max-width:1100px) {
        height: 55px;
        width: 55px;
    }

    @media screen and (max-width:850px) {
        height: 45px;
        width: 45px;
    }

    @media screen and (max-width:650px) {
        height: 41px;
        width: 41px;
    }

    @media screen and (max-width:450px) {
        height: 36px;
        width: 36px;
    }
/////////////////////////////////////////////
/////////////////////////////////////
//IMAGES JUST FOR TESTING PURPOSES
/////////////////////////////////////
///////////////////////////////////////
    &--1{
        background-image: url(img/Ilmo.png);
        background-size: cover;
    }

    &--2{
        background-image: url(img/Djulian.png);
        background-size: cover;
    }

}

.life-bar{
    background-color: white;
    margin-top: 15px;
    height: 10px;
    width: 35%;
    border-radius: 5px;
    background-color: lightseagreen;

    box-shadow: 0 5px 5px rgba(black,0.1);

    @media screen and (max-width:600px) {
        width: 50%;
    }

    @media screen and (max-width:830px) and (orientation:landscape) {
        width: 50%;
    }
}


.battlefield{
    height: 20vh;
}



