body {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

.intro {
  width: 100vw;
  height: 100vh;
  background-image: url(img/welcoming.png);
  background-size: cover;
  color: yellow;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  .intro__text {
    width: 60%;
    font-size: 20px;
    line-height: 1.5;
    text-align: center; }
    @media screen and (max-width: 600px) {
      .intro__text {
        width: 60%;
        font-size: 15px; } }
    @media screen and (max-width: 500px) {
      .intro__text {
        width: 60%; } }
    @media screen and (max-width: 400px) {
      .intro__text {
        width: 60%;
        font-size: 12px; } }
    @media screen and (max-width: 830px) and (orientation: landscape) {
      .intro__text {
        width: 60%;
        font-size: 12px; } }
    @media screen and (max-width: 650px) and (orientation: landscape) {
      .intro__text {
        width: 40px;
        font-size: 20px; } }
  .intro__btn, .intro__btn:link, .intro__btn:active {
    margin: 10vh;
    margin-top: 5vh;
    padding: 15px;
    width: 15%;
    min-width: 50px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: yellow;
    text-align: center;
    transition: all .2s; }
    @media screen and (max-width: 1100px) {
      .intro__btn, .intro__btn:link, .intro__btn:active {
        width: 20%; } }
    @media screen and (max-width: 600px) {
      .intro__btn, .intro__btn:link, .intro__btn:active {
        width: 25%; } }
    @media screen and (max-width: 500px) {
      .intro__btn, .intro__btn:link, .intro__btn:active {
        width: 30%; } }
    @media screen and (max-width: 400px) {
      .intro__btn, .intro__btn:link, .intro__btn:active {
        width: 45%; } }
    @media screen and (max-width: 830px) and (orientation: landscape) {
      .intro__btn, .intro__btn:link, .intro__btn:active {
        width: 30%;
        font-size: 12px; } }
    @media screen and (max-width: 650px) and (orientation: landscape) {
      .intro__btn, .intro__btn:link, .intro__btn:active {
        width: 40px;
        height: 58px; } }
    .intro__btn:hover, .intro__btn:link:hover, .intro__btn:active:hover {
      transform: scale(1.1); }

.game {
  height: 100vh;
  width: 100vw;
  background-image: url(img/grey_wpp.jpg);
  background-blend-mode: lighten;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif; }

.player {
  display: flex;
  height: 40vh; }
  .player__deck {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .player__deck--2 {
      order: 3; }
  .player__hand {
    flex: 3;
    display: flex;
    flex-direction: column; }
    .player__hand__army {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .player__hand__army--2 {
        order: 1; }
      @media screen and (max-width: 400px) {
        .player__hand__army {
          height: 80%; } }
    .player__hand__sorcery {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .player__hand__sorcery--2 {
        order: 2; }
      @media screen and (max-width: 400px) {
        .player__hand__sorcery {
          flex-wrap: wrap; }
          .player__hand__sorcery .card {
            width: 40px;
            height: 60px; } }
    .player__hand--2 {
      order: 2; }
  .player__status {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-position: center; }
    .player__status__profile {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative; }
      .player__status__profile--1 {
        display: flex;
        flex-direction: column; }
      .player__status__profile--2 {
        display: flex;
        flex-direction: column; }
    .player__status__life {
      width: 100%;
      height: 100%;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
    .player__status--2 {
      order: 1; }
  .player__name {
    margin-top: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    z-index: 2; }
    @media screen and (max-width: 1100px) {
      .player__name {
        font-size: 11px; } }
    @media screen and (max-width: 800px) {
      .player__name {
        font-size: 10px; } }
    @media screen and (max-width: 650px) {
      .player__name {
        font-size: 9px; } }
    @media screen and (max-width: 600px) {
      .player__name {
        font-size: 8px; } }

.card {
  width: 100px;
  height: 140px;
  margin: 5px;
  background-color: white;
  border-radius: 3px;
  border: 3px outset #2c2d2d;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.4);
  outline-offset: 2px;
  transition: all .2s;
  overflow: hidden; }
  @media screen and (max-width: 1100px) {
    .card {
      width: 90px;
      height: 126px; } }
  @media screen and (max-width: 800px) {
    .card {
      width: 80px;
      height: 112px; } }
  @media screen and (max-width: 650px) {
    .card {
      width: 70px;
      height: 100px;
      border: 2px solid #2c2d2d; } }
  @media screen and (max-width: 600px) {
    .card {
      width: 60px;
      height: 86px; } }
  @media screen and (max-width: 500px) {
    .card {
      width: 50px;
      height: 72px; } }
  @media screen and (max-width: 830px) and (orientation: landscape) {
    .card {
      width: 50px;
      height: 72px;
      border: 2px solid #2c2d2d; }
      .card:hover {
        outline: 2px groove #343535; } }
  @media screen and (max-width: 650px) and (orientation: landscape) {
    .card {
      width: 40px;
      height: 58px; } }
  .card__deck {
    background-image: url(img/card.jpg);
    background-size: cover;
    background-position: center; }
  .card__magic {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #364a6b, #1e2838);
    color: lightgray; }
    @media screen and (max-width: 800px) {
      .card__magic {
        font-size: 6px; } }
    @media screen and (max-width: 500px) {
      .card__magic {
        font-size: 6px; } }
    @media screen and (max-width: 830px) and (orientation: landscape) {
      .card__magic {
        font-size: 5px; } }
    @media screen and (max-width: 650px) and (orientation: landscape) {
      .card__magic {
        font-size: 5px; } }
    .card__magic__name {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 7px;
      font-weight: 600; }
    .card__magic__effect {
      flex: 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 7px; }
  .card__soldier {
    font-size: 7px;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #c44e36 70%, #a01313);
    z-index: 5; }
    @media screen and (max-width: 800px) {
      .card__soldier {
        font-size: 7px; } }
    @media screen and (max-width: 650px) {
      .card__soldier {
        font-size: 7px; } }
    @media screen and (max-width: 600px) {
      .card__soldier {
        font-size: 6px; } }
    @media screen and (max-width: 500px) {
      .card__soldier {
        font-size: 4px; } }
    @media screen and (max-width: 830px) and (orientation: landscape) {
      .card__soldier {
        font-size: 4px; } }
    @media screen and (max-width: 650px) and (orientation: landscape) {
      .card__soldier {
        font-size: 4px; } }
    .card__soldier__photo {
      height: 60%;
      padding: 2px;
      border-radius: 3px; }
      .card__soldier__photo img {
        width: 100%;
        height: 100%; }
    .card__soldier__data {
      display: flex;
      flex-wrap: wrap; }
    .card__soldier__name {
      text-transform: uppercase;
      text-align: center;
      flex-basis: 100%;
      font-weight: 700; }
    .card__soldier__atr {
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 1px; }
      .card__soldier__atr li {
        list-style: none;
        flex-basis: 45%;
        background-color: #e09f91;
        border-radius: 1px;
        margin: 1px;
        padding-left: 1px;
        padding-right: 2px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .card__soldier__atr li:last-child {
          display: flex;
          justify-content: center;
          background-color: #a8ef9b; }
        .card__soldier__atr li:hover {
          background-color: #cf6b55; }
  .card:hover {
    transform: translateY(70px) scale(1.6);
    z-index: 10;
    outline: 3px groove #343535; }

.player--2 .card:hover {
  transform: translateY(-70px) scale(1.6);
  z-index: 10;
  outline: 3px groove #343535; }

.profile-img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  z-index: 2; }
  @media screen and (max-width: 1100px) {
    .profile-img {
      height: 55px;
      width: 55px; } }
  @media screen and (max-width: 850px) {
    .profile-img {
      height: 45px;
      width: 45px; } }
  @media screen and (max-width: 650px) {
    .profile-img {
      height: 41px;
      width: 41px; } }
  @media screen and (max-width: 450px) {
    .profile-img {
      height: 36px;
      width: 36px; } }
  .profile-img--1 {
    background-image: url(img/Ilmo.png);
    background-size: cover; }
  .profile-img--2 {
    background-image: url(img/Djulian.png);
    background-size: cover; }

.life-bar {
  background-color: white;
  margin-top: 15px;
  height: 10px;
  width: 35%;
  border-radius: 5px;
  background-color: lightseagreen;
  z-index: 2;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 600px) {
    .life-bar {
      width: 50%; } }
  @media screen and (max-width: 830px) and (orientation: landscape) {
    .life-bar {
      width: 50%; } }

.battlefield {
  height: 20vh; }
  @media screen and (max-width: 400px) {
    .battlefield {
      height: 14vh; } }
